/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

/* tailwind + daisyui imports */
@import "tailwindcss";
@plugin "daisyui";

/* set themes */
/* @plugin "daisyui" {
  themes: corporate --default, dim --prefersdark;
} */

/* 1. CUSTOMIZE CORPORATE THEME */
/* @plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  --color-warning: oklch(68.1% 0.162 75.834);
  --color-warning-content: oklch(100% 0 0); 
} */
  /* White text for contrast on darker yellow */

/* Custom CSS */
@theme {
  --font-noto-sans: "Noto Sans", sans-serif;
}

#navbar a.active{
  background-color: #1FB854;
  color: black
}

#sidebar a.active{
  background-color: #1FB854;
  color:black
}