/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

/* tailwind + daisyui imports */
@import "tailwindcss";
@plugin "daisyui";

/* set themes */
@plugin "daisyui" {
  themes: light --default, dim --prefersdark;
}

/* 1. CUSTOMIZE light THEME */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* warning color overrides */
  --color-warning: oklch(68.1% 0.162 75.834);
  --color-warning-content: oklch(100% 0 0); /* White text for contrast on darker yellow */
  
  /* Primary Blue Overrides */
  --color-primary: oklch(0.5876 0.1389 241.97);        /* main blue */
  --color-primary-dark: oklch(0.5 0.1193 242.75); /* darker blue */
  --color-primary-tint: oklch(0.9702 0.0159 239.1); /* whitish blue */
  --color-primary-content: #ffffff; /* Ensure text on blue buttons is white */
}

@plugin "daisyui/theme" {
  name: "dim";
  prefersdark: true;
  --color-primary: oklch(0.65 0.12 245); /* lighter blue */
  --color-primary-dark: oklch(0.55 0.11 245); /* Blue */
  --color-primary-tint: oklch(0.2795 0.0368 260.03); /* dark blue */
  --color-primary-content: #ffffff;
}
  

/* Custom CSS */
@theme {
  --font-noto-sans: "Noto Sans", sans-serif;
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-tint: var(--color-primary-tint);
}

#navbar a.active{
  background-color: oklch(0.9702 0.0159 239.1);
  color: oklch(0.5 0.1193 242.75)
}

#sidebar a.active{
  background-color: var(--color-primary-dark);
  color: white
}